/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */

.wrapper {
    width: 876px;
    margin: 0 auto;
}

.nav-bar a:not(:last-child) {
    margin-top: 30px;
    margin-right: 60px;
}

.nav-bar a {
    color: gray;
}

.img-head {
    margin-bottom: 15px;
    float: right;
}

header {
    width: 400px;
    height: 600px;
    margin: 60px;
}

.innovate h1 {
    font-size: 60px;
    display: inline-block;
    width: 50%;
    height: 50px;
    float: left;
}

.innovate,
.header-img {
    display: inline-block;
    width: 50%;
    height: 100px;
    float: left;
}

header .btn-started {
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 2px #888888;
}

.feature {
    display: inline-block;
    width: 50%;
    height: 150px;
    padding: 5px;
    float: left;
}

.about {
    display: inline-block;
    width: 50%;
    height: 150px;
    padding: 5px;
    float: right;
}

.center-img {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.service,
.product,
.vision {
    display: inline-block;
    width: 33.33%;
    height: 200px;
    padding: 5px;
    float: right;
}

.contact {
    line-height: 2;
}

.footer-content {
    text-align: center;
    margin: 20px;
    padding: 30px;
    height: 100px;
}